.App {
  text-align: center;
  padding: 20px;
}

.form {
  display: flex;
  row-gap: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list {
  list-style-type: none;
  border: solid;
  border-radius: 2;
  text-align: left;
}

.list-point {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

input {
  height: 30px;
}

button {
  height: 37px;
  width: 50px;
  align-self: flex-end;
}


